* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --color-base-white: hsl(0, 0%, 100%);
  --color-base-text: hsl(240, 5%, 7%);
  --color-base-title: hsl(240, 6%, 13%);
  --color-background: hsl(195, 91%, 25%);
  --color-background-input: hsla(0, 0%, 100%, 0.2);
  --color-border: hsla(0, 0%, 100%, 0.2);
}

html,
body,
input {
  font-family: 'Mulish', sans-serif;
}

body {
  font-size: 1.6rem;
  background: var(--color-base-white);
}

#app {
  height: 100vh;

  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--color-background);
  grid-area: header;

  width: 100%;
  height: 7.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.6rem;
  padding: 1.2rem 2.8rem;
}

.input-wrapper {
  width: 100%;
}

.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.input-wrapper input {
  width: 100%;
  padding: 1.2rem 1.6rem;

  background-color: var(--color-background-input);
  border: 1px solid var(--color-border);
  border-radius: .4rem;

  color: var(--color-base-white);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 100%;
}

.input-wrapper input::placeholder {
  color: var(--color-base-white);
  font-weight: 600;
}

.avatar {
  width: 4.2rem;
  height: 4.2rem;
  object-fit: cover;
  border-radius: 50%;
}

main {
  max-width: 80.4rem;
}

main .capa {
  width: 100%;
  border: 0;
  overflow: hidden;
}

.content-main {
  padding: 3.2rem 2.6rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.question {
  display: flex;
  flex-direction: column;
  gap: 8px
}

.question h1,
aside h2 {
  color: var(--color-base-title);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 160%;
}

.question button {
  background-color: var(--color-background);
  padding: 1.4rem 1.2rem 1.2rem;
  border: 0;
  border-radius: 50%;

  text-align: center;
}

.content-main p {
  width: 100%;
  color: var(--color-base-text);
  font-weight: 400;
  line-height: 160%;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  padding: 0 3.2rem 2.6rem;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.card {
  display: flex;
  gap: 1.6rem;
}

.card img {
  object-fit: contain;
  flex-flow: row wrap;
}

.text-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-card h3 {
  color: var(--color-base-title);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 160%;
}

.text-card p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 160%;
}

footer p {
  background-color: var(--color-background);
  color: var(--color-base-white);
  text-align: center;
  padding: 1.6rem;
  font-weight: 600;
}

@media (min-width: 800px) {
  #app {
    display: grid;
    grid-template-areas:
      "header header header"
      "content content content"
      "footer footer footer";
  }

  header {
    grid-area: header;
  }

  main {
    max-width: 80rem;
  }

  aside {
    min-width: 40rem;
  }

  .content {
    grid-area: content;
    display: flex;
    padding: 4.0rem 11.0rem;
    gap: 3.4rem;
  }
  footer {
    grid-area: footer;
  }
}